<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="starterApp" layout="row" ng-controller="UserController as ul" ng-cloak >

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      ng-click="ul.toggleList()" aria-label="Show User List"
      md-is-locked-open="$mdMedia('gt-sm')">

      <md-icon ng-style='{width:"50px", height:"50px"}' md-svg-icon="belts:white"></md-icon>
<!--       <md-icon ng-style='{width:"50px", height:"50px"}' md-svg-icon="belts:blue"></md-icon>
      <md-icon ng-style='{width:"50px", height:"50px"}' md-svg-icon="belts:purple"></md-icon>
      <md-icon ng-style='{width:"50px", height:"50px"}' md-svg-icon="belts:brown"></md-icon>
      <md-icon ng-style='{width:"50px", height:"50px"}' md-svg-icon="belts:black"></md-icon> -->
    <md-list>
      <md-list-item ng-click="null">
            test1
      </md-list-item>
      <md-list-item ng-click="null">
            test1
      </md-list-item>
      <md-list-item ng-click="null">
            test1
      </md-list-item>
      <md-list-item ng-click="null">
            test1
      </md-list-item>
    </md-list>

  </md-sidenav>


  <div flex layout="column" tabIndex="-1" role="main">

    <!-- Header toolbar -->
    <md-toolbar md-whiteframe="3" class="md-tall mt-header">
      <div class="md-toolbar-tools">

        <!-- Menu button -->
        <md-button id="main" class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h3> <span>MT</span> </h3>
        
        <span flex></span>

        <!-- User menu area -->
        <md-menu md-position-mode="target-right target" md-offset="-10 60" class="user-menu">
          <md-button md-no-ink="true" ng-click="$mdOpenMenu($event)" aria-label="Open user menu">
            <md-icon md-svg-icon="svg-10" class="md-avatar" aria-label="Profile photo"></md-icon>
            <span hide-xs>Mantis Tobogan</span>
            <md-icon class="mt-expand-icon">expand_more</md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button><md-icon>person</md-icon>Profile</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button><md-icon>settings</md-icon>Settings</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button><md-icon>power_settings_new</md-icon>Logout</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>

      <span flex></span>

      <!-- Breadcrumbs toolbar -->
      <div class="md-toolbar-tools md-toolbar-tools-bottom breadcrumbs-toolbar">
        <i class="material-icons">dashboard</i><h2><span>&nbsp;Dashboard</span></h2>
        <div class="quick-add">
          <md-button class="md-fab md-accent" aria-label="Quick Add">
            <i class="material-icons">add</i>
          </md-button>
        </div>
      </div>
    </md-toolbar>

    <!-- Content area -->
    <md-content flex class="md-padding">

      <!-- Total hours container -->
      <md-grid-list 
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="8" 
        md-row-height-xs="3:1" md-row-height-sm="3:1" md-row-height-gt-sm="4:3"
        md-gutter="16px">

        <!-- Total hours tile -->
        <md-grid-tile 
          md-colspan-xs="1" md-colspan-sm="1" md-colspan-gt-sm="2" 
          md-rowspan="2" 
          md-whiteframe="1">
          <div layout="column" layout-fill layout-padding class="total-hours-tile">
            <div layout="row" layout-align="start center" class="total-hours-tile-header">
              <md-icon class="md-light">all_inclusive</md-icon>
              <h4>Total hours</h4>
            </div>
            <md-divider class="md-light"></md-divider>
            <div layout="row" layout-align="center center" flex class="total-hours-tile-hours">
              <h1 class="md-display-3">1328</h1>
            </div>
          </div>
        </md-grid-tile>

        <!-- Total gi hours tile -->
        <md-grid-tile 
          md-colspan-xs="1" md-colspan-sm="1" md-colspan-gt-sm="2"
          md-rowspan-xs="1">
          <div layout="row" flex layout-fill class="total-gi-hours-tile">
            <div layout="column" layout-align="center center" flex="33" class="total-gi-hours-tile-header">
              <h4 class="md-title">GI</h4>
            </div>
            <div layout="column" layout-align="center center" flex="66" class="total-gi-hours-tile-hours">
              <h1>437</h1>
              <h6>hours</h6>
            </div>
          </div>
        </md-grid-tile>


        <!-- Total nogi hours tile -->
        <md-grid-tile 
          md-colspan-xs="1" md-colspan-sm="1" md-colspan-gt-sm="2"  
          md-rowspan-xs="1">
          <div layout="row" flex layout-fill class="total-gi-hours-tile total-nogi-hours-tile">
            <div layout="column" layout-align="center center" flex="33" class="total-gi-hours-tile-header">
              <h4 class="md-title">NO</h4>
              <h4 class="md-title">GI</h4>
            </div>
            <div layout="column" layout-align="center center" flex="66" class="total-gi-hours-tile-hours">
              <h1>123</h1>
              <h6>hours</h6>
            </div>
          </div>
        </md-grid-tile>
      </md-grid-list>

      <div layout="row" layout-margin class="dashboard-tiles-container">
        <div layout="column" layout-padding flex="25" md-whiteframe="2" class="total-hours-tile">
          <div layout="row" layout-align="start center" class="total-hours-tile-header">
            <md-icon class="md-light">all_inclusive</md-icon>
            <h4>Total hours</h4>
          </div>
          <md-divider class="md-light"></md-divider>
          <div layout="row" layout-align="center center" flex class="total-hours-tile-hours">
            <h1 class="md-display-3">1328</h1>
          </div>
        </div>
        <div layout="column" flex="25">
          <div layout="row" flex class="total-gi-hours-tile">
            <div layout="column" layout-align="center center" flex="33" class="total-gi-hours-tile-header">
              <h4 class="md-title">GI</h4>
            </div>
            <div layout="column" layout-align="center center" flex="66" class="total-gi-hours-tile-hours">
              <h1>437</h1>
              <h6>hours</h6>
            </div>
          </div>
          <div layout="row" flex layout-fill class="total-gi-hours-tile total-nogi-hours-tile">
            <div layout="column" layout-align="center center" flex="33" class="total-gi-hours-tile-header">
              <h4 class="md-title">NO</h4>
              <h4 class="md-title">GI</h4>
            </div>
            <div layout="column" layout-align="center center" flex="66" class="total-gi-hours-tile-hours">
              <h1>123</h1>
              <h6>hours</h6>
            </div>
          </div>
        </div>
        <div layout="column" flex="50" layout-align="center center" style="background-color:rgb(100, 103, 171);">
          Graph
        </div>
      </div>

      <!-- Time card container -->
      <div layout="row" layout-align-gt-xs="start start" layout-wrap class="time-card-container">

        <!-- Time card -->
        <div ng-repeat="timeCard in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" flex-gt-md="25" flex-xs="100" flex-sm="50" flex-md="50">
          <md-card class="mt-timecard">
            <!-- Time card header -->
            <md-card-header>
              <md-card-avatar>
                <md-icon>accessibility</md-icon>
              </md-card-avatar>
              <md-card-header-text>
                <span class="md-title">Absolute</span>
                <span class="md-subhead">15/1/2016 7:00PM</span>
              </md-card-header-text>
            </md-card-header>
            <!-- Time card content -->
            <md-card-content layout layout-align="center center" class="mt-timecard-content">
              <h1>{{$index}}</h1>
              <h5>hour{{$index > 1 ? 's' : ''}}</h5>
            </md-card-content>
            <!-- Time card actions -->
            <md-card-actions layout="row" layout-align"start center">
              <md-card-icon-actions>
                <md-button class="md-icon-button" aria-label="Details">
                  <md-tooltip md-direction="bottom">Details</md-tooltip>
                  <md-icon>details</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Edit">
                  <md-tooltip md-direction="bottom">Edit</md-tooltip>
                  <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Delete">
                  <md-tooltip md-direction="bottom">Delete</md-tooltip>
                  <md-icon>delete</md-icon>
                </md-button>
              </md-card-icon-actions>
              <!-- Time card action more options -->
              <md-menu md-position-mode="target-right target">
                <md-button md-menu-origin class="md-icon-button" aria-label="Options" ng-click="$mdOpenMenu($event)"> 
                  <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content width="3">
                  <md-menu-item ng-repeat="item in [1,2,3]">
                    <md-button>Button {{item}}</md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-card-actions>
          </md-card>
        </div> 
      </div>
    </md-content>

  </div>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512)
                      .iconSet("belts", "./assets/svg/belts.svg", 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('indigo', {
                            // 'default': '800'
                          })
                          .accentPalette('blue', {
                            // 'default': '200'
                          });

              });

    </script>

  </body>
</html>
