.site-sidenav {
    background-color: rgb(31, 33, 43);
}
.mt-timecard .md-menu {
    padding: 0px;
}

.md-18 {
    font-size: 18px;
    height: 18px;
    width: 18px;
}
.md-24 {
    font-size: 24px;
    height: 24px;
    width: 24px;
}
.md-36 {
    font-size: 36px;
    height: 36px;
    width: 36px;
}
.md-48 {
    font-size: 48px;
    height: 48px;
    width: 48px;
}
.md-72 {
    font-size: 72px;
    height: 72px;
    width: 72px;
}
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.mt-timecard .mt-timecard-content {
    background-color: rgba(0, 0, 0, 0.02);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.mt-timecard .mt-timecard-content h1 {
    font-size: 4em;
    margin: 0.1em 0;
    color: rgba(0, 141, 0, 0.66);
}

.mt-timecard .mt-timecard-content h5 {
    color: rgba(0, 0, 0, 0.28);
}

.quick-add .material-icons {
    display: block;
}

.quick-add {
    position: absolute;
    right: 23px;
    top: 5em;
}

.breadcrumbs-toolbar {
    background-color: rgb(252, 252, 252);
    color: rgba(0, 0, 0, 0.53);
}

.mt-header .md-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.user-menu .md-avatar {
    margin-right: 10px;
}

.user-menu .md-button:not([disabled]):hover {
    background: none;
}

.user-menu .mt-expand-icon {
    height: 27px;
}

.total-hours-tile-header .material-icons {
    margin: auto 5px auto 5px;
    color: rgba(255, 255, 255, 0.9);
}

.total-hours-tile-header h4 {
    margin: 5px 0px;
    color: rgba(255, 255, 255, 0.9);
}

md-divider.md-light {
    border-top-color: rgba(255, 255, 255, 0.22);
}

.total-hours-tile-header md-divider {
    padding: 0px;
}

.total-hours-tile md-divider {
    margin: 0px 8px;
}

.total-hours-tile-hours h1 {
    color: rgba(255, 255, 255, 1.0);
    font-weight: 500;
}

.total-gi-hours-tile-header h4 {
    margin: 0px auto;
    font-weight: 900;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.9);
}

.total-gi-hours-tile-header {
    background-color: rgba(255, 255, 255, 0.2);
}

.total-gi-hours-tile-hours h1, .total-gi-hours-tile-hours h6 {
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}

.total-gi-hours-tile {
    background-color: rgba(130, 100, 171, 0.9);
}

.total-nogi-hours-tile {
    background-color: rgba(100, 171, 170, 0.9);
}

.total-hours-tile {
    background-color: #6467AB;
}

.total-hours-tile-header {
    padding: 8px;
}

.total-gi-hours-tile-hours h1 {
    margin-bottom: 0px;
}

.mt-no-padding {
    padding: 0px;
}

.mt-no-margin {
    margin: 0px;
}

.sidenav-user-container .mt-user-avatar {
    width: 125px;
    height: auto;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.46);
    box-sizing: content-box;
}

.mt-light {
    color: rgba(255, 255, 255, 0.9);
}

.sidenav-user-container .avatar-belt {
    width: 45%;
    height: auto;
}

.white-belt {
    color: rgb(255, 255, 255);
}

.blue-belt {
    color: rgb(73, 73, 221);
}

.purple-belt {
    color: rgb(154, 24, 154);
}

.brown-belt {
    color: rgb(141, 69, 51);
}

.black-belt {
    color: rgb(0, 0, 0);
}

.black-belt #stripe-bar {
    fill: red;
}

.sidenav-user-container {
    background-color: rgb(31, 33, 43);
    padding: 32px;
    min-height: 300px;
    background: -webkit-linear-gradient(top, rgb(19, 20, 26) 0%, #1F212B 100%);
    background: -moz-linear-gradient(top, rgb(19, 20, 26) 0%, #1F212B 100%);
    background: linear-gradient(top, rgb(19, 20, 26) 0%, #1F212B 100%);
    margin: 0;
}

.sidenav-menu {
}

.sidenav-menu .active {
    background-color: rgba(158,158,158,0.2);
}

.material-icons.md-72 {
    font-size: 72px;
    height: 72px;
    width: 72px;
}

.mt-new-session-radio-group .material-icons {
    color: rgb(238, 238, 238);
    transition: color 0.3s linear;
    background-color: #FAFAFA;
}

.mt-new-session-radio-group md-radio-button:hover .material-icons {
    color: #D5D5D5;
}

.mt-new-session-radio-group md-radio-button.md-checked .material-icons {
    color: #3F51B5;
}

.mt-new-session-radio-group ._md-label {
    
    margin-left: -10px;
}

.mt-new-session-radio-group .mt-new-session-buttons {
    width: 97%;
    background-color: rgb(238, 238, 238);
    color: white;
    min-width: 40px;
}

.mt-new-session-radio-group .mt-new-session-buttons h1,
.mt-new-session-radio-group .mt-new-session-buttons h3 {
    font-weight: 700;
}

.mt-new-session-radio-group md-radio-button:hover .mt-new-session-buttons {
    background-color: #D5D5D5;
}

.mt-new-session-radio-group md-radio-button.md-checked .mt-new-session-buttons {
    background-color: #3F51B5;
}

md-icon.material-icons {
    margin-right: 3px;
}

.session-details-block {
    background-color: rgba(229, 229, 229, 0.46);
    padding: 0px 15px;
    margin-top: 8px;
    margin-right: 8px;
}

.session-details-hours {
    margin-top: 8px;
}

.session-details-hours .total-gi-hours-tile-header h4 {
    line-height: 30px;
}

.session-details-block:last-of-type {
    margin-right: 0px;
}

.session-details-notes {
    background-color: inherit;
}

.session-details-left-column, .session-details-right-column {
    margin-bottom: 8px;
}

.session-details-right-column {
    margin-left: 8px;
}

.md-button.md-raised:not([disabled]).login-signup-button {
    /* background-color: rgba(50, 176, 50, 0.82); */
    color: rgba(255, 255, 255, 0.9);
    margin-left: 0px;
    margin-right: 0px;
}

.md-button.md-raised:not([disabled]).login-signup-button:hover {
    /* background-color: rgba(50, 176, 50, 0.9); */
}

@media (max-width: 599px) {
    .session-details-block {
        margin-right: 8px;
    }
    .session-details-block:nth-of-type(2) {
        margin-right: 0px;
    }
    .session-details-right-column {
        margin-left: 0px;
    }
}

@media (max-width: 1279px) and (min-width: 600px) {
    .session-details-block {
        margin-right: 8px;
    }
    .session-details-block:nth-of-type(2) {
        margin-right: 0px;
    }
    .session-details-right-column {
        margin-left: 0px;
    }
}



.login-signup-form md-card md-divider {
    margin: 24px 0px;
}

.md-button.md-raised:not([disabled]).login-signup-button.login-signup-facebook {
    background-color: rgb(59,89,152);
}

.md-button.md-raised:not([disabled]).login-signup-button.login-signup-facebook:hover {
    background-color: rgb(52,78,134);
}

.md-button.md-raised:not([disabled]).login-signup-button.login-signup-google {
    background-color: rgb(220, 78, 65);
}

.md-button.md-raised:not([disabled]).login-signup-button.login-signup-google:hover {
    background-color: rgb(218, 71, 57);
}

.md-button:not([disabled]).login-signup-outline-button {
    border: 2px solid rgba(0, 0, 0, 0.21);
    color: rgba(0, 0, 0, 0.4);
}

.md-button:not([disabled]).login-signup-outline-button:hover {
    
}

.md-button:not([disabled]).toolbar-signup {
    /* border: 2px solid rgba(255, 255, 255, 0.8); */
}

.md-button:not([disabled]).toolbar-signup:hover {
    
}

.or-divider {
    text-align: center;
}

.or-divider span {
    margin-top: -11px;
    display: block;
    background-color: #FAFAFA;
    width: 24px;
    margin: -13px auto;
}


.login-signup-logo {
    border-radius: 50%;
    overflow: hidden;
    margin-top: -69px;
}

.login-signup-form {
    padding-top: 50px;
    background: -webkit-linear-gradient(top, rgba(24, 86, 148, 0) 47%, #FAFAFA 40%);
}